div.imageGallery {
    --transition-duration: 0.2s;
    --transition-animation: ease;
    --overlay-bkg-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    position: relative;
    display: flex;
    overflow: auto;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.imageGallery img {
    max-width: 100%;
}
div.imageGallery>.imageContainer {
    --grid-color: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
    /* grid background */
    background-image: 
    linear-gradient(45deg, var(--grid-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--grid-color)  25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, var(--grid-color) 75%), 
    linear-gradient(-45deg, transparent 75%, var(--grid-color) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: moving-grid 5s infinite linear;
}
@keyframes moving-grid {
    0% {
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    }
    100% {
        background-position: 20px 20px, 20px 30px, 30px 10px, 10px 20px;
    }
}

/* corner-hover */
div.imageGallery>.imageContainer>.corner-hover {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-animation);
}
div.imageGallery>.imageContainer>.corner-hover>.inner {
    background-color: var(--overlay-bkg-color);
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
div.imageGallery>.imageContainer:has(.shortDescription)>.corner-hover>.inner {
    margin-bottom: 0;
    background-color: transparent;
    padding: 7px;
}

div.imageGallery>.imageContainer:hover>.corner-hover {
    transform: translateY(0);
}

/* disablePointer  */
div.imageGallery>.imageContainer.disablePointer {
    cursor: default;
}
/* disableAspectRatio */
div.imageGallery>.imageContainer.disableAspectRatio {
    aspect-ratio: auto;
    width: 100%;
    height: 100%;
    position: relative;
}
div.imageGallery>.imageContainer img {
    /* make the browser not snap to the image */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* hiddenImage */
div.imageGallery>.imageContainer img.hiddenImage {
    display: none;
}
div.imageGallery>.imageContainer img.hiddenImage.show {
    display: block;
}

div.imageGallery>.imageContainer.imgfit-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.imageGallery>.imageContainer.imgfit-contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* shortDescription */
div.imageGallery>.imageContainer>.shortDescription {
    background-color: var(--overlay-bkg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-animation);
}
div.imageGallery>.imageContainer:hover>.shortDescription {
    transform: translateY(0);
}
/* imageinfo */
div.imageGallery>.imageContainer>.imageinfo {
    background-color: var(--overlay-bkg-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
div.imageGallery>.gallery {
    background: var(--card-bkg-color);
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
}
div.imageGallery>.gallery>.image {
    cursor: pointer;
    aspect-ratio: 16/9;
    height: 100px;
}
div.imageGallery>.gallery img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
div.imageGallery>.gallery img.selected {
    outline: 4px solid var(--primary-color);
    outline-offset: -4px;
}
div.imageGallery>.gallery>.image:hover {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}
/* arrows  */
div.imageGallery>.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    margin-top: -10px;
    pointer-events: none;
    /* position: absolute; */
    z-index: 2;
}
div.imageGallery>.arrows>.left,
div.imageGallery>.arrows>.right {
    pointer-events: auto;
    cursor: pointer;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
}
div.imageGallery>.arrows .arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
}
div.imageGallery>.arrows .arrow:hover {
    background-color: var(--overlay-bkg-color);
}
div.imageGallery>.arrows>.currentImage {
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    z-index: 2;
    padding: 0 10px;
}

div.imageGallery>.imageContainer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bkg-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
div.imageGallery>.imageContainer .overlay.blur {
    backdrop-filter: blur(64px);
}
/* showOverlay */
div.imageGallery>.imageContainer .overlay.show {
    display: flex;
}