div.imageGallery {
    width: 100%;
    position: relative;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div.imageGallery img {
    max-width: 100%;
}
div.imageGallery>.imageContainer {
    --grid-color: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
    /* grid background */
    background-image: 
    linear-gradient(45deg, var(--grid-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--grid-color)  25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, var(--grid-color) 75%), 
    linear-gradient(-45deg, transparent 75%, var(--grid-color) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

}
div.imageGallery>.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}
/* shortDescription */
div.imageGallery>.imageContainer>.shortDescription {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s;
}
div.imageGallery>.imageContainer:hover>.shortDescription {
    transform: translateY(0);
}
div.imageGallery>.gallery {
    background: var(--card-bkg-color);
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow: auto;
}
div.imageGallery>.gallery>.image {
    cursor: pointer;
    aspect-ratio: 16/9;
    height: 100px;
}
div.imageGallery>.gallery img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
div.imageGallery>.gallery img.selected {
    outline: 4px solid var(--primary-color);
    outline-offset: -4px;
}

div.imageGallery>.imageContainer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
/* showOverlay */
div.imageGallery>.imageContainer .overlay.show {
    display: flex;
}