.btn {
    --btn-border-color: #4A4A4A;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #2C2C2C;
    border: 1px solid var(--btn-border-color);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.btn-liminal {
    --btn-hover-color: rgba(255,255,255,0.1);
    --btn-hover-outline-color: #7a7a7a;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border:none;
    outline: 0px solid transparent;
    transition: background-color 0.1s ease-in-out,
                outline 0.1s ease-in-out
    ;
}
.btn-liminal:hover, 
.btn-liminal:focus-visible {
    background-color: var(--btn-hover-color);
    outline: 1px solid var(--btn-hover-outline-color);
}

.btn.btn-primary {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.btn.btn-primary:hover {
    background-color: #0056b3;
}
.btn.btn-secondary {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
}
.btn.btn-secondary:hover {
    background-color: #5a6268;
}

/* success */
.btn.btn-success {
    --btn-border-color: #189e35;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.btn.btn-success:hover {
    background-color: #218838;
}

/* danger */

.btn.btn-danger {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.btn.btn-danger:hover {
    background-color: #c82333;
}

