#workshop-item>.left {
    width: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    gap: var(--global-page-gap);
    flex-grow: 1;
}
#workshop-item>.right {
    position: relative;
    width: auto;
    position: relative;
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    margin: 20px 20px 20px 0px;
}